{% extends "base.html" %}

{% block title %} pagina secundaria {% enblock %}

{% block content %} 

<p> El dia de hoy es: {{momento_actual.day}}/{{momento_actual.month}}/{{momento_actual.year}}</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore vitae suscipit illo dolorem error mollitia cum repellendus dolor minus voluptates ipsa, atque maxime, a sequi sint corporis. Dolore, libero repudiandae?</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/zg5V9--LFGA?si=0y6YqKVE5jpdPnRd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


{% endblock %}