{% extends "webPublic/layout.html" %}
{% load static %}

{% block content %}
<section id="eventosTemplate" class="seccion-eventos d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center fade-in">
      <div class="col-12 col-lg-10">
        <div class="card-custom text-center p-4">
          <h2 class="titulo-card">Eventos</h2>
          <p class="card-text">¡Participá de nuestras próximas actividades!</p>

          <div class="row">
            {% for evento in eventos %}
              <div class="col-12 col-md-6 mb-4">
                <div class="card-evento p-3 d-flex flex-column text-start" style="--imagen-evento: url('/media/{{ evento.imagen }}');">
                  <h5 class="titulo-evento">{{ evento.titulo}}</h5>
                  <p><strong>Fecha y hora:</strong> {{ evento.fecha }} - {{ evento.hora }} hs</p>
                  <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
                  <p><strong>Descripcion:</strong> {{ evento.descripcion}}</p>
                  <p><strong>Cupos disponibles:</strong> {{ evento.cupos }}</p>
                  <p><strong>Costo:</strong> 
                    {% if evento.precio == 0 %}
                      Sin costo
                    {% else %}
                      ${{ evento.precio }}
                    {% endif %}
                  </p>
          
                  {% if evento.precio > 0 %}
                    <p><strong>Método de pago:</strong>
                      {% if evento.pago_enlace %}
                        <a href="{{ evento.pago_enlace }}" target="_blank">Pagar evento</a>
                      {% else %}
                        Pago en efectivo
                      {% endif %}
                    </p>
                  {% endif %}
          
                  <!-- Botón alineado abajo -->
                  <div class="mt-auto">
                    {% if evento.cupos|add:"0" > 0 %}
                      <button class="btn-custom">Inscribirme</button>
                    {% else %}
                      <button class="btn-custom" id="btn-Nodisponible" disabled>No disponible</button>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}