

/* Estilos Generales */
html {
    scroll-behavior: smooth;
}

.Paleta {
    color: #f6eddc;
    color: #e3e5d7;/*Fondos*/
    color: #bdd6d2; 
    color: #a5c8ca; 
    color: #586875; /*Texto*/
    color: #3c4750; /*Hover / Focus*/
}


body {
    font-family: "Funnel Sans", sans-serif;
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Estilos para el header */

.custom-header {
    background-color: #e3e5d7c2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    height: 110px;
}

.social-icons a {
    font-size: 1rem;
    color: #3c4750;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    font-size: 1.05rem;
    color: #586875;
}

/* Estilos para el logo */

.logo-img {
    height: 50px;
    color:#3c4750;
    width: auto;
    margin-bottom: 5px;
}

.logo-title {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
}

/* Estilos para el navbar */
.navbar {
    padding: 0;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    font-size: 0.9rem;
    font-weight: 500;
    color:#3c4750;
    padding: 5px 0;
    position: relative;
    letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:focus {
    color: #586875;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #586875;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* Estilo para texto de hero */

#hero{
    height: calc(100vh - 110px);    
}

#Textohero {
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #586875;
    padding: 20px;
}

/* Estilo para texto de nosotros */

#nosotros {
    height: 100vh;
    background-color: #f6eddc;
    padding: 50px;
}

#nosotros .col{
    padding: 50px;
}

#textNosotros {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #586875;

}

#textNosotros h3{
    font-weight: bold;
}

/* Estilo de aparicion de los elementos */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAnimation 1.8s ease-out forwards;
    -webkit-animation: fadeInAnimation 1.8s ease-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Specific style for the "Footer" section */

footer {
    height: 100%;
    font-size: 0.9em;
    background-color: #e3e5d7c2;
}

footer a {
    color: #3c4750;
}

footer a:hover {
    color: #586875;
}

footer i {
    font-size: 1rem;
    color: #3c4750;
}

@media (max-width: 1024px) {

}

/* Estilos para mobile */
@media (max-width: 767.98px) {
    .custom-header {
        height: 150px;
    }

    .logo-img {
        height: 50px;
    }
    
    .logo-title {
        font-size: 1.5rem;
    }

    .social-icons {
        display: none;;
    }

    .nav-link {
        font-size: 0.9rem;
        font-weight: lighter;
    }

    .navbar-collapse {
        position: fixed;
        top: 150px;
        left: 0;
        width: 100%;
        background-color: #e3e5d7;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1050; /* Asegura que esté por encima del contenido */
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Estilos para el botón de hamburguesa */
    .navbar-toggler {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 3px;
        background-color: #3c4750;
        position: relative;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: #000000;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .navbar-toggler:focus, .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler-icon::before {
        top: -10px;
    }

    .navbar-toggler-icon::after {
        top: 10px;
    }

    /* Animación del botón de hamburguesa a cruz */
    .navbar-toggler.active .navbar-toggler-icon {
        background: none; /*esta propiedad soluciona la linea del medio al hacer la animacion de hamburguesa a*/
    }

    .navbar-toggler.active .navbar-toggler-icon::before {
        top: 0;
        transform: rotate(45deg);
    }

    .navbar-toggler.active .navbar-toggler-icon::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #Textohero {
        margin-top: 20px;
        font-size: 1rem;
    }

    /* Iconos sociales dentro del menú */
    .menu-social-icons {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        padding-bottom: 25px;
    }

    .menu-social-icons a {
        font-size: 1.5rem;
        color: #3c4750;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
}

    .menu-social-icons a:hover {
        color: #586875;
        font-size: 1.55rem;
    }

}