

/* Estilos Generales */
html {
    scroll-behavior: smooth;
}

.Paleta {
    color: #f6eddc;
    color: #e3e5d7;/*Fondos*/
    color: #bdd6d2; 
    color: #a5c8ca; 
    color: #586875; /*Hover / Focus*/
    color: #3c4750; /*Texto*/
    color: #283131; /*Texto Acento*/
}

.Fuentes {
    font-family: "Federo", sans-serif; /* Logo */
    font-family: "Faculty Glyphi", sans-serif; /* Fuente Principal*/ 
    font-family: "Farro", sans-serif; /*NavLink*/        
}

body {
    margin: 0;
}

/* Botón flotante de WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #1ebe57;
}

.TextoAcento {
    color: #283131;
    font-weight: bold;
    font-family: "Federo", sans-serif;

}

p ,h1, h2, h3, a {
    color: #3c4750;
    
}

a {
    text-decoration: none;
    font-family: "Farro", sans-serif;
}

p {
    font-family: "Faculty Glyphi", sans-serif;
}

a:hover,
a:focus {
    color: #586875;
}

/* Estilos para el header */

.custom-header {
    background-color: #e3e5d7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    height: 120px;
}

.social-icons a {
    font-size: 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    font-size: 1.05rem;
}

/* Estilos para el logo */

.logo-img {
    height: 50px;
    width: auto;
    margin-bottom: 5px;
}

.logo-title {
    font-family: "Federo", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Estilos para el navbar */
.navbar {
    padding: 0;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
    letter-spacing: 1px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #586875;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* Estilo para texto de hero */

#hero{
    height: calc(100vh - 120px);    
}

#Textohero {
    font-family: "Federo", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0 15px;
}

/* Sección Nosotros */
#nosotros {
    min-height: 100vh;
    background-color: #f6eddc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nosotros .row{
    padding: 15px;
}

.text-nosotros {
    max-width: 90%;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 15px 10px; 
}

.img-nosotros {
    width: 90%;
    max-height: 350px;  /* Evita que la imagen crezca demasiado */
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Sección Planes y Horarios */
#planesHorarios {
    height: 50vh;
    background: url('/static/img/ImgPlanesHorarios.png') center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

/* Efecto de opacidad sobre la imagen de fondo */
#planesHorarios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f6eddcb9; /* Color de fondo con opacidad */
}

/* Tarjetas personalizadas */
.card-custom {
    background: #bdd6d29a; /* Color armonioso con opacidad */
    border-radius: 20px;
    height: 180px;
    padding: 30px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Títulos de tarjetas */
.titulo-card {
    color: #3c4750;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Botón personalizado */
.btn-custom {
    background-color: #586875;
    width: 180px;
    color: #f6eddc;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "Farro", sans-serif;
    transition: background 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-custom:hover {
    background-color: #3c4750;
}


/* Sección Eventos */
#eventos {
    height: 50vh;
    background: #bdd6d29a;
    display: flex;
    align-items: center;
}

/* Columna del texto */
.eventos-texto {
    font-family: "Faculty Glyphi", sans-serif;
    color: #3c4750;
    font-size: 1rem;
    max-width: 350px; /* Reduce el ancho del texto */
}

/* Botón */
.btn-eventos {
    background-color: #586875;
    color: #f6eddc;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "Farro", sans-serif;
    transition: background 0.3s ease;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-eventos:hover {
    background-color: #3c4750;
}

/* Imagen */
.img-eventos {
    width: 100%;
    max-width: 450px;
    height: 100%;
    border-radius: 5px;
    margin-left: auto; /* Alinea la imagen a la derecha */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Seccion Staff */

.staff-seccion {
    position: relative; /* Necesario para que el ::before se posicione correctamente */
    min-height: 50vh;
    background: url('/static/img/img_staff.png') center/cover no-repeat;
    padding: 40px 0;
}

/* Efecto de opacidad sobre la imagen de fondo */
.staff-seccion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f6eddcb9; /* Color con opacidad */
}

.titulo-staff {
    font-family: "Federo", sans-serif;
    color: #3c4750;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.descripcion-staff {
    font-family: "Faculty Glyphi", sans-serif;
    color: #586875;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.staff-card {
    width: 220px;
    height: 320px;
    background-color:  #bdd6d2;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.staff-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.staff-card h4 {
    font-family: "Faculty Glyphi", sans-serif;
    color: #3c4750;
    margin-top: 10px;
}

.staff-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Farro", sans-serif;
    color: #586875;
    text-decoration: none;
}

.staff-card i {
    margin-right: 5px;
}

/* Estilo de aparicion de los elementos */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Footer */
footer {
    background-color: #e3e5d7;
    font-size: 0.9em;
    padding: 20px 0;
}

/* Centrar elementos en móvil */
.footer-brand {
    text-align: center;
}

.footer-social {
    display: flex;
    gap: 15px;
}

/* Iconos de redes y dirección */
.footer-social a {
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.footer-social a:hover {
    transform: scale(1.2);
}

@media (max-width: 1024px) {

}

/* Estilos para mobile */
@media (max-width: 767.98px) {
    .custom-header {
        height: 150px;
    }

    .logo-img {
        height: 50px;
    }
    
    .logo-title {
        font-size: 1.5rem;
    }

    .social-icons {
        display: none;;
    }

    .nav-link {
        font-family: "Farro", sans-serif;
        font-size: 1.5rem;
        font-weight: lighter;
    }

    .navbar-collapse {
        position: fixed;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #e3e5d7;
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start !important;
        padding-top: 20px;
        z-index: 1050;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        display: none;
    }

    .navbar-collapse.show {
        transform: translateY(0);
        opacity: 1;
        z-index: 1050;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px; /* Espacio entre los enlaces */
    }

    /* Estilos para el botón de hamburguesa */
    .navbar-toggler {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 3px;
        background-color: #3c4750;
        position: relative;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: #000000;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .navbar-toggler:focus, .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler-icon::before {
        top: -10px;
    }

    .navbar-toggler-icon::after {
        top: 10px;
    }

    /* Animación del botón de hamburguesa a cruz */
    .navbar-toggler.active .navbar-toggler-icon {
        background: none; /*esta propiedad soluciona la linea del medio al hacer la animacion de hamburguesa a*/
    }

    .navbar-toggler.active .navbar-toggler-icon::before {
        top: 0;
        transform: rotate(45deg);
    }

    .navbar-toggler.active .navbar-toggler-icon::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #Textohero {
        margin-top: 20px;
        font-size: 1.8rem;
    }

    /* Bloqueo de scroll al abrir el menú */
    .menu-open {
        overflow: hidden;
        height: 100vh;
    }

    /* Iconos sociales dentro del menú */
    .menu-social-icons {
        margin-top: 100px;
        padding-bottom: 20px; /* Espaciado inferior */
        display: flex;
        gap: 20px;
    }

    .menu-social-icons a i {
        font-size: 1.5rem;
        transition: transform 0.3s ease-in-out;
        display: inline-block; /* Evita que afecte el flujo */
    }

    .menu-social-icons a i:hover {
        transform: scale(1.2);
    }

     /* Seccion Nosotros Movil */

    #nosotros {
        padding: 50px 15px; /* Más espacio en móviles */
    }

    .text-nosotros {
        font-size: 1rem; /* Texto más pequeño en móviles */
        max-width: 100%;
    }

    .img-nosotros {
        max-height: 200px; /* Imagen más pequeña en móviles */
    }

    #nosotros .row {
        gap: 20px; /* Espacio entre filas */
    }

    /* Seccion Eventos Movil */

    .eventos-contenedor {
        flex-direction: column;
        text-align: center;
    }

    .eventos-texto {
        max-width: 90%;
        margin: 0 auto;
    }

    .btn-eventos {
        width: 90%;
        max-width: 250px;
        margin: 20px auto; /* Asegura que el botón se centre */
        display: block; /* Garantiza que no afecte la alineación */
        text-align: center;
    }

    .img-eventos {
        max-width: 70%;
        margin: 0 auto 20px auto;
    }

    /* Seccion Footer Movil */

    .footer-brand {
        flex-direction: row; /* Mantiene el logo y el texto en línea */
        align-items: center;
        justify-content: center; /* Centra horizontalmente */
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }

    .logo-title {
        margin-top: 0; /* Elimina el margen superior */
        margin-left: 10px; /* Espacio entre el logo y el texto */
    }
}