{% extends "management/layout_management.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
      <p><strong>Título:</strong> {{ evento.titulo }}</p>
      <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
      <!-- más campos -->
    </div>
    <div class="col-md-6">
      {% if evento.imagen %}
        <img src="{{ evento.imagen.url }}" alt="Imagen del evento" class="img-fluid">
      {% endif %}
    </div>
</div>
  
  <h3>Clientes inscriptos</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for inscripcion in evento.inscripcionevento_set.all %}
      <tr>
        <td>{{ inscripcion.nombre }}</td>
        <td>{{ inscripcion.telefono }}</td>
        <td>
          {% if not inscripcion.estado and evento.precio > 0 %}
            <form method="post" action="{% url 'confirmar_pago' inscripcion.id %}">
              {% csrf_token %}
              <button class="btn btn-success btn-sm">Confirmar</button>
            </form>
          {% endif %}
          <form method="post" action="{% url 'eventos_admin:eliminar_inscripcion' inscripcion.id %}">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}