{% extends "management/layout_management.html" %}

{% block content %}
<div id="detalleEvento" class="container-fluid">
  <h2 class="mb-4">Detalles del evento <strong>{{ evento.titulo }}</strong></h2>
  <div class="row">
      <div class="col-md-6">
        <p><strong>Fecha y hora: </strong> {{ evento.fecha }} - {{ evento.hora }} hs</p>
        <p><strong>Ubicacion:</strong> {{ evento.ubicacion }} </p>
        <p><strong>Cupos:</strong> {{ evento.cupos }}</p>
        <p><strong>Precio:</strong> {% if evento.precio == 0 %}Gratis{% else %} $ {{evento.precio}}{% endif %} </p>
        <p><strong>Estado:</strong> {% if evento.estado == False %}Finalizado{% else %}Activo{% endif %} </p>
        <p><strong>Descripcion:</strong> {{ evento.descripcion }} </p>
        <!-- más campos -->
      </div>
      <div class="col-md-6">
        {% if evento.imagen %}
          <img src="{{ evento.imagen.url }}" alt="Imagen del evento" class="img-fluid">
        {% endif %}
      </div>
  </div>
  <hr>
  <h3>Clientes inscriptos</h3>
  <table class="table table-bordered table-striped mt-3"">
    <thead>
      <tr>
        <th>Nombre y Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    {% for inscripcion in evento.inscripcionevento_set.all %}
      <tr>
        <td>{{ inscripcion.nombre }} {{ inscripcion.apellido }}</td>
        <td>{{ inscripcion.email }}</td>
        <td>{{ inscripcion.telefono }}</td>
        <td>{{ inscripcion.tipo }}</td>
        <td>
          <!-- Botón confirma pago-->
          <button class="btn btn-success btn-sm">Confirma pago</button>
          
          <!-- Botón Eliminar -->
          <button class="btn btn-danger btn-sm">X</button>
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}